
@{
       
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menu_left{
    @{
        UInt32 Quyen = QuanLyHop.Helpers.KiemTraQuyen.ADMIN;        
     }
   
    <p class ="menuitem">@Html.ActionLink("Thông Tin Cá Nhân","index","quanlynguoidung")</p>    
    <p class ="menuitem">@Html.ActionLink("Xem Thông Báo","index","quanlynguoidung")</p> 
    @if (QuanLyHop.Helpers.KiemTraQuyen.KiemTraCoQuyen(Quyen,QuanLyHop.Models.QuyenSuDung.TAONGUOIDUNG))
    {  
      <p class ="menuitem">@Html.ActionLink("Tạo Người Dùng","index","quanlynguoidung")</p>
    }
    @if (QuanLyHop.Helpers.KiemTraQuyen.KiemTraCoQuyen(Quyen,QuanLyHop.Models.QuyenSuDung.PHANQUYENNGUOIDUNG))
    {
    <p class ="menuitem">@Html.ActionLink("Phân Quyền","index","quanlynguoidung")</p>  
    }
    @if (QuanLyHop.Helpers.KiemTraQuyen.KiemTraCoQuyen(Quyen, QuanLyHop.Models.QuyenSuDung.TAONGUOIDUNG, QuanLyHop.Models.QuyenSuDung.PHANQUYENNGUOIDUNG))
    {
    <p class ="menuitem">@Html.ActionLink("Quản Lý Tài Khoản","index","quanlynguoidung")</p> 
    }
 @if (QuanLyHop.Helpers.KiemTraQuyen.KiemTraCoQuyen(Quyen, QuanLyHop.Models.QuyenSuDung.TAONGUOIDUNG, QuanLyHop.Models.QuyenSuDung.XEMCACCUOCHOP))
    {
    <p class ="menuitem">@Html.ActionLink("Quản Lý Cuộc Họp","index","quanlyhop")</p> 
    }
 @if (QuanLyHop.Helpers.KiemTraQuyen.KiemTraCoQuyen(Quyen, QuanLyHop.Models.QuyenSuDung.TAONGUOIDUNG, QuanLyHop.Models.QuyenSuDung.XEMCACCUOCHOP))
    {
    <p class ="menuitem">@Html.ActionLink("Tạo Cuộc Họp","index","quanlynguoidung")</p> 
    }
    }
@RenderBody()
