@model List<QuanLyCongVan.Models.MNguoiDung>
@{
    ViewBag.Title = "Quản lý tài khoản hệ thống";
}
@section featured { 
    <section class="featured">
        <div class ="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
        }
@section menu_left{
    <lable  class ="menuitem">@Html.ActionLink("Thông Tin Cá Nhân","index","quanlynguoidung")</lable>   
    <lable  class ="menuitem">@Html.ActionLink("Xem Thông Báo","index","quanlynguoidung")</lable>  
    <lable  class ="menuitem">@Html.ActionLink("Tạo Người Dùng","index","quanlynguoidung")</lable>
    <lable  class ="menuitem">@Html.ActionLink("Phân Quyền","index","quanlynguoidung")</lable>  
    <lable class ="menuitem">@Html.ActionLink("Quản Lý Tài Khoản","index","quanlynguoidung")</lable> 
    }

<section class="quanlytaikhoan">
    <div style="background-color:gray;">   
        <label style="font-family:'Times New Roman'; font-size:25px;color:orangered;height:30px">Danh Sách Người Dùng</label>
    </div>
    
        @foreach (var item in Model)
        {
            @Html.Partial("_itemNguoiDung",item);
        } 
  
</section>