<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Hệ Thống Quản Lý Cuộc Họp", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Trang Cá Nhân", "Index", "Home")</li>
                            <li>@Html.ActionLink("Giới thiệu ", "About", "Home")</li>
                            <li>@Html.ActionLink("Liên Hệ", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        
        <div id="body"> 
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @if (Request.IsAuthenticated){
                <div class="menu_left">
                    <div class="headpan">
                      <h3 id="text" style="padding-left:3em">Chức năng</h3>  
                    </div>
                    @RenderSection("menu_left", required: false)
                </div>
                }
                <div class="body_right">
                    @RenderBody()
                </div>
            </section>          
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
